.linkPanel_container{
  margin-left: 90%;
  width: 10%;
  min-height: 100vh;
  background: #273247;
}

.link-panel_search{
  margin-top: 10rem;
  margin-left: 45%;
}

.link-panel_line{
  height: 1px;
  width: 100%;
}

.link-panel_calendar{
  margin-left: 45%;
  margin-top: 1.5rem;
}

.link-panel_icons{
  margin-left: 45%;
  margin-top: 1.5rem;
}

.link-panel_add{
  margin-left: 29%;
  margin-top: 7rem;
}