.linkPanel_container{
  margin-left: 90%;
  width: 10%;
  min-height: 100vh;
  background: #273247;
}


.modalInput {
  font-size: 1rem;
  min-width: 10rem;
  width: 100%;
  box-sizing: border-box;
  padding: .5rem;
  border: 1px solid #7b8aa4;
  border-radius: 0.3rem;
  display: inline-block;
  margin-left: 1rem;
  outline: none;
  color: #fff;
  margin: 0;
  margin-top: 1rem;
  color: black;
}

.panel_search{
  margin-top: 10rem;
  margin-left: 45%;
}

.panel_line{
  height: 1px;
  width: 100%;
}

.panel_calendar{
  margin-left: 45%;
  margin-top: 1.5rem;
}

.panel_icons{
  margin-left: 45%;
  margin-top: 1.5rem;
}

.panel_add{
  margin-left: 29%;
  margin-top: 7rem;
}