.sidePanel {
    background-color: #273247;
    margin: 0;
    padding: 0;
    /* flex-basis: 15%; */
    width: 20%;
    height: 100vh;
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
}
