.sidePanel {
    background-color: #273247;
    margin: 0;
    padding: 0;
    width: 20%;
    height: 100vh;
    min-width: 20rem;
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
}
