.chat {
  display: flex;
}
.none {
  display: none;
}
/* 
.wraperLinkPanel {
  width: 6%;
  min-height: 100vh;
} */

.loader{
  width: 100px;
  height: 100px;
  position: absolute;
  top:calc(50% - 50px);
  left:calc(50% - 50px);
}

@media (max-width: 767px) {

  .divCloseSidePanel {
    background-color: rgba(0, 0, 0, 0.5);
    width: 30%;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
  }

  .divCloseLinkPanel {
    background-color: rgba(0, 0, 0, 0.5);
    width: 70%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
  }
}