.cardLeft{
  height: auto;
  display: flex;
}
.cardRight {
  height: auto;
  display: flex;
  flex-direction: row-reverse
}

.icon{
  width: 46px;
  height: 37px;
  background-color:#1f8efa;
  margin: 0 0.8rem;
  border-radius: 5px;
}

.message_infoLeft{
  display: flex;
  list-style: none;
}
.message_infoRight{
  display: flex;
  list-style: none;
  flex-direction: row-reverse;
}

.time{
  color:#657d95;
  font-size: 0.8rem;
  margin: 0 0.5rem;
}

.name{
  color: #2e3039;
  font-size: 0.8rem;
  font-weight: 600;
}

.text{
  font-size: 0.7rem;
  width: 100%;
  height: auto;
}

.message_wrapper{
  width: 88%;
}